name: dispatch
tier: message-queue

image:
  repository: robotshop
  name: rs-dispatch
  version: 2.1.0

resources:
  requests:
    cpu: "350m"
    memory: "200Mi"
  limits:
    cpu: "700m"
    memory: "400Mi" 
    


hpa:
  minReplicas: 1
  maxReplicas: 5
  targetCPU: 70
  targetMemory: 80 

NetworkPolicy:
  policyTypes:
  - Ingress
  - Egress
    
  egress:
  - to:
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: kube-system
      podSelector:
        matchLabels:
          k8s-app: kube-dns
      
    ports:
    - protocol: TCP
      port: 53
    - protocol: UDP
      port: 53

  - to:
    - podSelector:
        matchLabels:
          app: rabbitmq
      
    ports:
    - protocol: TCP
      port: 5672
