{{- define "common.service" -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.name }}
spec:
  {{- if .Values.service.clusterIP }}
  clusterIP: {{ .Values.service.clusterIP }}
  {{- end }}
  ports:
    - port: {{ .Values.service.port }}

  selector:
    app: {{ .Values.name }}
{{- end -}}