apiVersion: apps/v1
kind: Deployment
metadata:
  name: ratings-deployment
  labels:
    app: php
spec:
  
  selector:
    matchLabels:
      app: php
  template:
    metadata:
      labels:
        app: php
    spec:
      containers:
      - name: php
        image: robotshop/rs-ratings:2.1.0
        ports:
        - containerPort: 80
