
ports:
  web:
    port: 8000
  websecure:
    port: 8443

service:
  enabled: true
  type: LoadBalancer

additionalArguments:
  - "--certificatesresolvers.letsencrypt.acme.tlschallenge=true"
  - "--certificatesresolvers.letsencrypt.acme.email=sheblabdo00@gmail.com"
  - "--certificatesresolvers.letsencrypt.acme.storage=/data/acme.json"

persistence:
  enabled: true
  path: /data
  size: 128Mi