apiVersion: v2
name: robot-shop
description: A microservices e-commerce application
type: application
version: 1.0.0
appVersion: "2.1.0"

keywords:
  - microservices
  - e-commerce
  - kubernetes

dependencies:
  # Library chart (templates)
  - name: common
    version: "0.1.0"
    repository: "file://./charts/_common"

  # External chart
  - name: redis
    version: "18.x.x"
    repository: "https://charts.bitnami.com/bitnami"
    condition: redis.enabled

  - name: rabbitmq
    version: "8.x.x"
    repository: "https://charts.bitnami.com/bitnami"
    condition: rabbitmq.enabled

  # Service charts
  - name: user
    version: "0.1.0"
    repository: "file://./charts/user"
    condition: user.enabled

  - name: web
    version: "0.1.0"
    repository: "file://./charts/web"
    condition: web.enabled

  - name: mysql
    version: "0.1.0"
    repository: "file://./charts/mysql"
    condition: mysql.enabled

  - name: ratings
    version: "0.1.0"
    repository: "file://./charts/ratings"
    condition: ratings.enabled

  - name: dispatch
    version: "0.1.0"
    repository: "file://./charts/dispatch"
    condition: dispatch.enabled

  - name: cart 
    version: "0.1.0"
    repository: "file://./charts/cart"
    condition: cart.enabled

  - name: catalogue
    version: "0.1.0"
    repository: "file://./charts/catalogue"
    condition: catalogue.enabled
    
  - name: mongodb
    version: "2.1.0"  
    repository: "file://./charts/mongodb"
    condition: mongodb.enabled
  
  - name: shipping
    version: "0.1.0"
    repository: "file://./charts/shipping"
    condition: shipping.enabled

  - name: payment
    version: "0.1.0"
    repository: "file://./charts/payment"
    condition: payment.enabled

  # monitring charts
  - name: kube-prometheus-stack
    version: "81.4.3"
    repository: "oci://ghcr.io/prometheus-community/charts"
    condition: kube-prometheus-stack.enabled
  
  - name: prometheus-mysql-exporter
    version: "2.12.0"
    repository: "oci://ghcr.io/prometheus-community/charts"
    condition: mysql-exporter.enabled

  - name: prometheus-mongodb-exporter
    version: "3.16.0"
    repository: "oci://ghcr.io/prometheus-community/charts"
    condition: mongodb-exporter.enabled

  # metrics chart
  - name: metrics-server
    repository: "https://kubernetes-sigs.github.io/metrics-server/"
    version: "3.13.0"
    condition: metrics-server.enabled

    # traefik chart
  - name: traefik
    version: "39.0.0"
    repository: "https://traefik.github.io/charts"
    condition: traefik.enabled

    # external-secrets chart
  - name: external-secrets-operator
    repository: "https://charts.external-secrets.io/"
    version: "1.3.2"
    condition: external-secrets-operator.enabled

    # external-dns chart
  - name: external-dns
    repository: "https://kubernetes-sigs.github.io/external-dns/"
    version: "0.20.0"
    condition: external-dns.enabled

    # karpenter chart
  - name: karpenter
    repository: "oci://public.ecr.aws/karpenter/karpenter"
    version: "1.8.1"
    condition: karpenter.enabled

    # opencost chart
  - name: opencost
    repository: "https://opencost.github.io/opencost-helm-chart"
    version: "2.5.5"
    condition: opencost.enabled

    # goldilocks chart
  - name: goldilocks
    repository: "https://charts.fairwinds.com/stable"
    version: "10.2.0"
    condition: goldilocks.enabled
    

    
  
