.image: &tag
  repository: shebl22
  version: 6c3be5e9aff482cf404d609ee3100a9c42feafd1
redis:
  enabled: true
  fullnameOverride: redis
  auth:
    enabled: false
  architecture: replication
  commonLabels:
    tier: database
    app: redis
  master:
    persistence:
      enabled: true
      size: 200Mi
  replica:
    replicaCount: 3
    persistence:
      enabled: true
      size: 200Mi
  networkPolicy:
    enabled: true
    extraIngress:
      - from:
          - podSelector:
              matchLabels:
                app: user
          - podSelector:
              matchLabels:
                app: cart
        ports:
          - protocol: TCP
            port: 6379
    extraEgress:
      - to:
          - namespaceSelector:
              matchLabels:
                kubernetes.io/metadata.name: kube-system
            podSelector:
              matchLabels:
                k8s-app: kube-dns
        ports:
          - protocol: TCP
            port: 53
          - protocol: UDP
            port: 53
# rabbitmq values
rabbitmq:
  enabled: true
  fullnameOverride: rabbitmq
  replicaCount: 3
  persistence:
    enabled: true
    accessModes:
      - ReadWriteOnce
    size: 200Mi
  commonLabels:
    app: rabbitmq
    env: production
    tier: message-queue
  networkPolicy:
    enabled: true
    extraIngress:
      - from:
          - podSelector:
              matchLabels:
                app: dispatch
          - podSelector:
              matchLabels:
                app: payment
        ports:
          - protocol: TCP
            port: 5672
    extraEgress:
      - to:
          - namespaceSelector:
              matchLabels:
                kubernetes.io/metadata.name: kube-system
            podSelector:
              matchLabels:
                k8s-app: kube-dns # Allow DNS resolution 
        ports:
          - protocol: TCP
            port: 53
          - protocol: UDP
            port: 53
user:
  enabled: true
  image:
    !!merge <<: *tag
web:
  enabled: true
  image:
    !!merge <<: *tag
mysql:
  enabled: true
  image:
    !!merge <<: *tag
ratings:
  enabled: true
  image:
    !!merge <<: *tag
dispatch:
  enabled: true
  image:
    !!merge <<: *tag
shipping:
  enabled: true
  image:
    !!merge <<: *tag
payment:
  enabled: true
  image:
    !!merge <<: *tag
catalogue:
  enabled: true
  image:
    !!merge <<: *tag
cart:
  enabled: true
  image:
    !!merge <<: *tag
mongodb:
  enabled: true
  image:
    !!merge <<: *tag
