redis:
  enabled: true
  fullnameOverride: redis

  auth:
    enabled: false

  architecture: replication
  commonLabels:
    tier: database
    app: redis

  master:
    persistence:
      enabled: true
      size: 200Mi
      
  replica:
    replicaCount: 3
    persistence:
      enabled: true
      size: 200Mi

  networkPolicy:
    enabled: true
    extraIngress: 
    - from:
      - podSelector:
          matchLabels:
            app: user

      - podSelector:
          matchLabels:
            app: cart 
      
      ports:
      - protocol: TCP
        port: 6379  
    extraEgress: 
    - to:
      - namespaceSelector:
          matchLabels:
            kubernetes.io/metadata.name: kube-system
        podSelector:
          matchLabels:
            k8s-app: kube-dns
        
      ports:
      - protocol: TCP
        port: 53
      - protocol: UDP
        port: 53
        
# rabbitmq values
rabbitmq:
  enabled: true

  replicaCount: 3

  image:
    repository: rabbitmq
    tag: 3.8-management-alpine
    pullPolicy: IfNotPresent

  auth:
    username: robot
    password: robot123

  service:
    type: ClusterIP
    ports:
      amqp: 5672
      manager: 15672

  persistence:
    enabled: true
    accessModes:
      - ReadWriteOnce
    size: 200Mi

  commonLabels:
    app: rabbitmq
    env: production
    version: v2.1.0
    tier: message-queue

  metrics:
    enabled: true
    serviceMonitor:
      enabled: true

  networkPolicy:
    enabled: true

user:
  enabled: true

web:
  enabled: true

mysql:
  enabled: true

ratings:
  enabled: true
  
dispatch:
  enabled: true

shipping:
  enabled: true

payment:
  enabled: true

catalogue:
  enabled: true

cart:
  enabled: true

mongodb:
  enabled: true

rabbitmq:
  enabled: true

kube-prometheus-stack:
  enabled: true
  prometheus:
    ingress:
      enabled: true
      ingressClassName: traefik  # Change if using traefik, alb, etc.
      hosts: 
        - prometheus.yourdomain.com

    prometheusSpec:
      # 1. Scrape EVERYTHING without needing 'release' labels
      serviceMonitorSelectorNilUsesHelmValues: false
      
      # 2. Search across ALL namespaces (robot-shop, default, etc.)
      serviceMonitorNamespaceSelector: {}
      
      # 3. (Optional but recommended) Do the same for PodMonitors
      podMonitorSelectorNilUsesHelmValues: false
      podMonitorNamespaceSelector: {}

      # Light/Ephemeral Settings
      replicas: 1
      storageSpec: {}
      retention: 2h
      retentionSize: 500MB
    
    # This is used for alert links and internal routing
      externalUrl: http://prometheus.yourdomain.com

  grafana:
    adminUser: admin
    adminPassword: admin

    ingress:
      enabled: true
      ingressClassName: traefik
      hosts:
        - grafana.yourdomain.com

    defaultDashboardsEnabled: false
    dashboards:
      default:
        # Node Exporter Full
        node-exporter:
          gnetId: 1860
          revision: 31
          datasource: Prometheus
        
        # Kubernetes Cluster Monitoring
        k8s-cluster:
          gnetId: 7249
          revision: 1
          datasource: Prometheus
        
        # MySQL Overview
        mysql-overview:
          gnetId: 7362
          revision: 1
          datasource: Prometheus
        
        # MongoDB Dashboard
        mongodb:
          gnetId: 2583
          revision: 1
          datasource: Prometheus

prometheus-mysql-exporter:
  enabled: true
  mysql:
    host: "mysql"
  
  serviceMonitor:
    enabled: true

  podLabels:
    app: mysql-exporter

prometheus-mongodb-exporter:
  enabled: true

  serviceMonitor:
    enabled: true

  podLabels:
    app: mongodb-exporter

  mongodb:
    uri: "mongodb://mongodb:27017"
