redis:
  enabled: true
  fullnameOverride: redis

  auth:
    enabled: false

  architecture: replication
  commonLabels:
    tier: database
    app: redis

  master:
    persistence:
      enabled: true
      size: 200Mi
      
  replica:
    replicaCount: 3
    persistence:
      enabled: true
      size: 200Mi

  networkPolicy:
    enabled: true
    extraIngress: 
    - from:
      - podSelector:
          matchLabels:
            app: user

      - podSelector:
          matchLabels:
            app: cart 
      
      ports:
      - protocol: TCP
        port: 6379  
    extraEgress: 
    - to:
      - namespaceSelector:
          matchLabels:
            kubernetes.io/metadata.name: kube-system
        podSelector:
          matchLabels:
            k8s-app: kube-dns
        
      ports:
      - protocol: TCP
        port: 53
      - protocol: UDP
        port: 53

# rabbitmq values
rabbitmq:
  enabled: true
  fullnameOverride: rabbitmq

  replicaCount: 3

  image:
    repository: rabbitmq
    tag: 3.8-management-alpine
    pullPolicy: IfNotPresent

  service:
    type: ClusterIP
    ports:
      amqp: 5672
      manager: 15672

  persistence:
    enabled: true
    accessModes:
      - ReadWriteOnce
    size: 200Mi

  commonLabels:
    app: rabbitmq
    env: production
    version: v2.1.0
    tier: message-queue

  metrics:
    enabled: true
    serviceMonitor:
      enabled: true

  networkPolicy:
    enabled: true

user:
  enabled: true

web:
  enabled: true

mysql:
  enabled: true

ratings:
  enabled: true
  
dispatch:
  enabled: true

shipping:
  enabled: true

payment:
  enabled: true

catalogue:
  enabled: true

cart:
  enabled: true

mongodb:
  enabled: true

rabbitmq:
  enabled: true
