apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: database-tier-network-policy
  
spec:
  podSelector:
    matchLabels:
      tier: database 
  policyTypes:
  - Ingress
  - Egress
  ingress:
  - from:
    - podSelector:
        matchLabels:
          tier: backend 
          
  egress:
  - to:
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: kube-system
      podSelector:
        matchLabels:
          k8s-app: kube-dns
    ports:
    - protocol: TCP
      port: 53
    - protocol: UDP
      port: 53
