# Certificate for ArgoCD
# Deployed in argocd namespace to be used by ArgoCD ingress
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: argocd-tls
  namespace: argocd
spec:
  secretName: argocd-tls
  issuerRef:
    name: letsencrypt-dns
    kind: ClusterIssuer
  dnsNames:
    - argocd.shebl22.me
