
clusterName: ""  
serviceAccount:
  create: true
  name: "opencost-sa"
opencost:
  cloudCost:
    enabled: true
  cloudIntegrationSecret: ""
  # 2. Prometheus Connection (CRITICAL)
  prometheus:
    internal:
      enabled: false  # Don't install a new Prometheus
    external:
      enabled: true
      # REPLACE this with the actual Prometheus service URL
      url: http://monitor-prometheus.monitoring.svc:80
  metrics:
    serviceMonitor:
      enabled: true

  ui:
    ingress:
      enabled: "true"
      ingressClassName: traefik
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
        traefik.ingress.kubernetes.io/backend-protocol: "http"
      # TLS certificate from cert-manager
      tls:
        - secretName: opencost-tls
          hosts:
            - ""
      hosts:
      - host: ""
        paths:
          - "/"