apiVersion: kyverno.io/v1beta1
kind: ImageValidatingPolicy
metadata:
  name: verify-robot-shop
spec:
  validationFailureAction: Enforce
  rules:
    - name: check-images
      imageReferences:
        - "docker.io/abdelrahman-shebl/rs-*"
      attestors:
        - entries:
          - keyless:
              subject: "https://github.com/abdelrahman-shebl/Robot-Shop-Microservices/.github/workflows/CI-CD.yml@*"
              issuer: "https://token.actions.githubusercontent.com"