apiVersion: policies.kyverno.io/v1
kind: ImageValidatingPolicy
metadata:
  name: verify-robot-shop
spec:
  matchImageReferences:
    - glob: "docker.io/shebl22/rs-*"
  attestors:
    - name: github-actions
      cosign:
        keyless:
          identities:
            - subjectRegExp: "https://github.com/abdelrahman-shebl/Robot-Shop-Microservices/.github/workflows/CI-CD.yml@.*"
              issuer: "https://token.actions.githubusercontent.com"
  validations:
    - expression: "true"
      message: "Image signature verification passed"