apiVersion: karpenter.sh/v1
kind: NodePool
metadata:
  name: spot-priority
spec:
  # HIGHER WEIGHT wins first
  weight: 100 
  template:
    spec:
      nodeClassRef:
        group: karpenter.k8s.aws
        kind: EC2NodeClass
        name: default
      requirements:
        - key: karpenter.sh/capacity-type
          operator: In
          values: ["spot"]
        - key: kubernetes.io/arch
          operator: In
          values: ["amd64"]